*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

//* https://www.colorzilla.com/gradient-editor/ *//

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}
/*navbar*/
.navbar {
    overflow: hidden;
    background: linear-gradient(to bottom, rgba(0,0,0,0.65) 23%,rgba(0,0,0,0.09) 89%,rgba(0,0,0,0) 100%); 
    position: fixed;
    padding-right: 37px;
    padding-top: 15px;
    
}

.navbar a {
    float: right;
    font-size: 1vw;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-top: 1.5%;
}

.dropdown {
    float: right;
    overflow: hidden;
    margin-top: 1.5%;
}

.dropdown .dropbtn {
    font-size: 1vw;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}      

.dropdown-content {
    display: none;
    position: fixed;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    border-bottom: 2px solid white;
    background-color: #;
}


.dropdown:hover .dropdown-content {
    display: block;
}

.logo{
    width: 12%;
    margin: 12px;
    position: relative;
    padding-left: 1.5vw;
}

/*navbar slut*/
.forsidebillede{
    margin: auto;
    position:inherit;
    width: 100%;
}

.logolink{
    
    position: absolute;
    top: 0;
    left: 2%;
    width: 10.5%;
    height: 50%;
    display: block;
}

.hooverskrift{
    position: absolute;
    top: 15vw;
    font-size: 1.8vw;
    padding: 10px;
    color: white;
    margin-left: 2vw;
}

.hop{
    font-size: 0.8vw;
    padding-top: 1.5vw;
}

.hoknap{
    padding: 12px 20px;
    border: 0.2vw solid white;
    color: white;
    text-transform: uppercase;
    margin-right: 15px;
    display: inline-block;
    margin-bottom: 15px;
    transition: all .3s;
    font-size: 1vw;
    text-decoration: none;
}

.hoknap:hover{
    background-color: white;
    border: 0.2vw solid black;
    color: black;
}

/* nav bar slut */


.flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: DodgerBlue;
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.flex-container2 {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 400px; 
    margin-left: 50px;
  
}
