*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}
.navbar {
    overflow: hidden;
    /* Skiftet fra background: linear-gradient(to bottom, rgba(0,0,0,0.65) 23%,rgba(0,0,0,0.09) 89%,rgba(0,0,0,0) 100%); */
    background: linear-gradient(to bottom, rgba(0,0,0,0.65) 23%,rgba(0,0,0,0.09) 89%,rgba(0,0,0,0) 100%);
    position: fixed;
    padding-left: 37.5px;
    padding-right: 37.5px;
    padding-top: 15px;
}

.navbar a {
    float: right;
    font-size: 1vw;
    color: #830A0A;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-top: 1.5%;
}

.dropdown {
    float: right;
    overflow: hidden;
    margin-top: 1.5%;
}

.dropdown .dropbtn {
    font-size: 1vw;
    border: none;
    outline: none;
    color: #830A0A;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: fixed;

    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: #830A0A;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.logo{
    width: 11%;
    margin: 10px;
}

.billede{
    margin: auto;
    position:inherit;
    width: 100%;

}

.infomation{
    width: 100%;
    overflow: hidden;

}
@charset "utf-8";
/* CSS Document */

.info-text-padding h1 {
    padding-top: 124px;
    text-align: center;
}

.info-text-padding h2 {
    padding-left: 24px;
}

.info-text-padding p {
    padding-left: 24px;
    padding-right: 500px;
    font-family: 'Tahoma', serif;
}


.img2 img{
   float: right;
    height: 256px;
    width: auto;
    padding-left: 12px;
}

.img3 img{
   float: right;
    height: 210px;
    width: auto;
    padding-left: 12px; 
}

.img2 p {
    padding-left: 24px;
}

{
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

/*slettes*/
footer {
    width: calc(100% - 80px);
    padding: 40px 40px;
    margin-top: 20px;
    background-color: #111;
    overflow: hidden;
}

footer ul {
    width: fit-content;
    float: left;
    padding-left: 20px;
}

footer ul li {
    display: block;
    list-style: none;
}

footer ul li a {
    font-family: sans-serif;
    font-size: 18px;
    color: white;
    line-height: 40px;
}

.footer-links-cases {
    display: none;
}


@media only screen and (min-width: 800px){
  .footer-links-cases {
    display: block;
 }  
    footer ul {
    padding-right: 30px;
}
    footer ul li p {
    font-family: sans-serif;
    font-size: 18px;
    color: #fff; 
    line-height: 40px;
    text-transform: uppercase; 
    padding-left: 40px;
 }
}

