body{
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

*{
  box-sizing: border-box;
}

.bg1{
  display: flex;
  flex-direction: column;
  background-color: rgb(230, 230, 230);
  align-items: center;
  justify-content: center;
}

.bg2{
  display: flex;
  flex-direction: row;
  background-color: rgb(230, 230, 230);
  align-items: center;
  justify-content: center;
}

.box1{
  margin: 10px;
  box-shadow: 1px 2px 5px 0px rgb(61, 61, 61);
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  background-image: url(foraar.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.box2 {
  margin: 10px;
  box-shadow: 1px 2px 5px 0px rgb(61, 61, 61);
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  background-image: url(sommerr.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

.box3 {
  margin: 10px;
  box-shadow: 1px 2px 5px 0px rgb(61, 61, 61);
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  background-image: url(efteraar.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.box4 {
  margin: 10px;
  box-shadow: 1px 2px 5px 0px rgb(61, 61, 61);
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  background-image: url(vinter.jpg);
  background-repeat: no-repeat;
  background-size: cover;

}

.img-info p, h1{
  text-align: center;
}

.img-info h1 {
word-wrap: break-word;
}

.img-info{
  flex-direction: column;
  display: flex;
  width: 40%;
  color: white;
  background-color: rgba(82, 82, 82, 0.61);
}

.img-info1 {
  flex-direction: column;
  display: flex;
  width:  100%;
  line-height: normal;
  color: white;
  background-color: rgba(82, 82, 82, 0.61);
}



.box5 {
  box-shadow: 1px 2px 5px 0px rgb(61, 61, 61);
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
  height: auto;
  text-align: center;
  background-color: rgb(189, 189, 189);
}


.box5{
background-image: url(samf.jpg);
background-repeat: no-repeat;
background-size: cover;
}



/* Media Queries */

@media only screen and (max-width: 1300px) {
  .image {
    display: none;
  }
}

@media only screen and (max-width: 1300px) {
  .img-info1 {
    margin: auto;
    background-color: rgba(27, 27, 27, 0.534);
    color: white;
    padding: 20px;
  }
}



@media only screen and (max-width: 1300px) {
    .box5 {
    background-image: url(samf1.jpg);
    background-size: cover;
      }
    }

@media only screen and (max-width: 1300px) {
    .img-info {
    width: 60%;
      }
    }
