*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}


//* https://www.colorzilla.com/gradient-editor/ *//

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}
/*navbar*/
.navbar {
    overflow: hidden;
    background: linear-gradient(to bottom, rgba(0,0,0,0.65) 23%,rgba(0,0,0,0.09) 89%,rgba(0,0,0,0) 100%); 
    position: fixed;
    padding-right: 42.33px;
    padding-top: 15px;
    
}

.navbar a {
    float: right;
    font-size: 13px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-top: 1.5%;
    
}

.navbar a:hover {
    border-bottom: 0px solid white;
}

.dropdown {
    float: right;
    overflow: hidden;
    margin-top: 1.5%;
}


.dropdown .dropbtn {
    font-size: 13px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    
    
}      

.dropdown-content {
    display: none;
    position: fixed;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    background: rgba(0, 0, 0, 0.5);
}

.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    border-bottom: 2px solid white;
    background-color: #;
    
}


.dropdown:hover .dropdown-content {
    display: block;
}

.logo {
    width: 6%;
    margin: 7px;
    position: relative;
    padding-left: 30px;
}

/*navbar slut*/
.forsidebillede{
    margin: auto;
    position:inherit;
    width: 100%;
}

.logolink{
    
    position: absolute;
    top: 0;
    left: 2%;
    width: 10.5%;
    height: 50%;
    display: block;
}

.hooverskrift{
    position: absolute;
    top: 15vw;
    font-size: 1.8vw;
    padding: 10px;
    color: white;
    margin-left: 2vw;
}

.hop{
    font-size: 12px;
    padding-top: 1.5vw;
    padding-right: 700px;
}

.hoknap{
    padding: 12px 20px;
    border: 0.2vw solid white;
    color: white;
    text-transform: uppercase;
    margin-right: 15px;
    display: inline-block;
    margin-bottom: 15px;
    transition: all .3s;
    font-size: 1vw;
    text-decoration: none;
}

.hoknap:hover{
    background-color: white;
    border: 0.2vw solid black;
    color: black;
}

/* Alt over er forsidebillede alt under er info */

.hoinfocontainer {
    width: 100%;
    background-color: #f3f3f3;
    z-index: 1;
    position: inherit;
    overflow: hidden;
    margin-top: -4px;
}

.infomation1 {
    width: 100%;
}

.infomation1 .infobox1 {
    background-color: #fff;
    width: 50%;
    height: 20px;
    float: left;
}

.infomation1 .infobox1 .imghoinfo {
    width: 50%;
    height: 100%;
    float: left;
    background-color: #f3f3f3;
    background-size: cover;
    background-position: center,center;
    position: inherit;
}

.infomation1 .infobox1 .imghoinfo .imghoinfolink {
    position: inherit;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
}

.infomation1 .infobox1 .textboxinfo {
    width: 50%;
    height: 100%;
    float: left;
    background-color: white;
    position: inherit;
    text-align: center;
    margin-top: 20px;
}

.infomation1 .infobox1 .textboxinfo span {
    font-size: 25px;
    padding-left: 2%;
    text-align: center;
}

.infomation1 .infobox1 .textboxinfo h3 {
    font-size: 13px;
    font-weight: bold;
    padding-right: 10%;
    padding-left: 10%;
    text-align: center;
    margin-top: 20px;
}

.infomation1 .infobox1 .textboxinfo a {
    position: inherit;
    font-weight: 400px;
    font-size: 10px;
    padding-left: 60%;
}


.hokob .hokob1 {
    background-color:gainsboro;
    width: 100%;
    height: 100px;
}


#myVideo {
    position: inherit;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}


h4{
    font-size: 40px;
    text-align: center;
    padding-top: 120px;
    font-family: 'Norse', sans-serif;
}
